<!DOCTYPE html>
<html lang="en">
<link rel="icon" type="image/svg" href="static/snake-svgrepo-com.svg">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snake Game</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <style>
        @font-face {
            font-family: joystix;
            src: url(static/joystix/joystix_monospace.otf);
        }

        .navbar-custom {
            font-family: joystix;
            font-size: smaller;
            background-color: rgb(154, 0, 214);

        }

        .navbar-brand {
            font-family: joystix;
            color: white;
        }

        .container {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 1%;
        }

        #gameOver {
            background-color: white;
            border-color: white;
        }

        #result {
            font-family: joystix;
            align-items: center;
            align-self: center;
            justify-content: center;
            width: 480px;
            height: 480px;
            padding: 10%;
        }

        #tutorial {
            font-family: joystix;
            align-items: center;
            align-self: center;
            justify-content: center;
            width: 480px;
            height: 480px;
            padding: 10%;
            background-color: black;
            color: white;
        }

        #startButton {
            position: absolute;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            z-index: 50;
        }

        #playButton {
            position: absolute;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }

        #startGame {
            font-family: joystix;
            align-items: center;
            align-self: center;
            justify-content: center;
            width: 480px;
            height: 480px;
            padding: 10%;
            background-color: black;
            color: white;
        }

        .carousel-inner {
            display: flex;
            height: 300px;
            width: 300px;
        }

        .carousel-control-prev,
        .carousel-control-next {
            position: absolute;
            margin: -30%;
        }

        #scoreTable {
            font-family: joystix;
            position: relative;
            padding: 20px;
            display: flex;
        }

        #knoepfe {
            padding: 10px;
            display: inline-block;
            font-size: smaller;
        }

        #playerForm {
            height: 300px;
            width: 300px;
        }

        #pauseButton {
            margin-right: 1%;
        }

        #currentScore {
            font-family: joystix;
            position: relative;
            display: inline-flex;
            justify-content: start;
            align-items: start;
            top: 2px;
        }

        #theGame {
            display: inline-flex;
            width: max-content;
            margin-top: -3%;
        }

        #gameCanvas {
            flex-shrink: 0;
        }

        body {
            background: linear-gradient(0deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("static/background_pattern.png");
            background-repeat: repeat;
        }

        #bgrnd {
            position: fixed;
            text-align: center;
            right: 0;
            left: 0;
            margin-right: auto;
            margin-left: auto;
            height: 100%;
            width: 80%;
            background-color: rgba(255, 255, 255, 0.8);
        }

        #gameDisplay {
            display: flex;
            position: relative;
            text-align: center;
            right: 0;
            left: 0;
            margin-right: auto;
            margin-left: auto;
            height: 100%;
            width: 80%;
        }
    </style>
</head>

<body>
    <!-- navigation bar -->

    <nav class="navbar navbar-custom">
        <div class="container-fluid justify-content-start">

            <a class="navbar-brand" href="#">
                <img src="static/snake-svgrepo-com.svg" alt="Logo" width="30" height="24"
                    class="d-inline-block align-text-top">
                Snake Game
            </a>
            <button class="btn btn-outline-light btn-sm" id="tutorialButton" type="button">How To Play</button>
            <div>
            </div>
    </nav>

    <!-- white centered background -->

    <div id="bgrnd">

        <!-- content -->

        <div class="vstack gap-3" id="gameDisplay">

            <!-- current score and pause button-->

            <div class="p-2" id="currentScore">
                <button class="btn btn-secondary btn-sm" id="pauseButton" type="button">Pause</button>
                <p>Score: <span id="score"></span></p>
            </div>
            <div class="p-2" id="theGame">

                <!-- game display -->

                <div id="gameCanvas">
                    <canvas id="canvas" width="480" height="480" hidden="true"></canvas>
                </div>

                <!-- game over screen -->

                <div id="result" hidden="true" class="card">
                    <div class="card-header" id="gameOver">
                        <h2>Game Over</h2>
                    </div>
                    <div id="playerForm">
                        <div class="card-body">
                            <p>Score: <span id="total" name="totalScore"></span></p>
                        </div>
                        <div>
                            <!-- input for the name of the player -->

                            <input type="text" id="playername" class="form-control" name="playername" required
                                placeholder="Your Name">
                        </div>

                        <!-- buttons for saving the score or starting a new game without saving -->

                        <div id="knoepfe">
                            <button class="btn btn-secondary btn-sm" id="saveButton" type="submit">
                                Save Score
                            </button>
                            <button class="btn btn-secondary btn-sm" id="againButton" type="button">Play Again</button>
                        </div>
                    </div>
                </div>

                <!-- start screen cause audio requires interaction from the user -->

                <div id="startGame" hidden="false" class="card">
                    <div class="card-header">
                        <h2>Snake Game</h2>

                    </div>
                    <div class="card-body">
                        <div><button class="btn btn-danger btn-lg" id="startButton" type="button">Start</button>
                        </div>
                        <img src="static/snakew-svgrepo-com.svg" alt="White snake"
                            style="position:relative; bottom:5px;" width="300">
                    </div>
                </div>

                <!-- a little game manual -->

                <div id="tutorial" hidden="true" class="card">
                    <div class="card-header">
                        <h2>How To Play</h2>
                    </div>
                    <div class="card-body">
                        <div id="carouselExample" class="carousel slide">

                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <p>Use the arrow keys to control the little green snake.<br><br>
                                        Try to make the snake eat as many pills as you can.</p>
                                </div>
                                <div class="carousel-item">
                                    <p>But be careful: with every pill, not only does your score increase, but the
                                        snake gets longer and faster. <br><br>The
                                        game ends when the snake hits the wall or one of its own body parts.</p>
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                                data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                                data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                            <div><button class="btn btn-secondary" id="playButton" type="button">Play</button></div>
                        </div>
                    </div>
                </div>

                <!-- highscore table -->
                <div id="scoreTable">
                    <table class="data-table table-striped table-hover" id="data-table">
                        <thead>
                            <tr>
                                <th colspan="3">HIGHSCORE - TOP 10</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for highscore in daten %}
                            <td>{{ highscore.playername }}</td>
                            <td>{{ highscore.totalScore }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- JavaScript -->

    <script>

        let canvas = document.getElementById('canvas');
        let ctx = canvas.getContext('2d'); //returns a drawing context on the canvas
        let rows = 20;
        let cols = 20;
        let snake = [{ x: 9, y: 3 }]; //starting coordinates of the snake
        let food; //empty because coordinates are random
        let rock = [{}]; //empty because coordinates are random
        let burger; //same
        let clock;
        let cellWidth = canvas.width / cols;
        let cellHeight = canvas.height / rows;
        let direction = 'default';
        let foodCollected = false; //only spawns food when false
        let burgerCollected = false; //same
        let burgerPlaced = false;
        let clockCollected = false;
        let clockPlaced = false;
        let clockCounter = 0;
        let burgerCounter = 0; //eat apples to get burger
        let counter = 300; //for game speed
        let score = 0;
        let pause = false;
        let collectSound = new Audio('static/gameboy-pluck-41265-_AudioTrimmer.com_.wav');
        let gameoverSound = new Audio('static/retro-explode-1-236678.wav');

        document.addEventListener('keydown', KeyDown);
        document.getElementById('tutorialButton').addEventListener("click", showTutorial);
        document.getElementById('playButton').addEventListener("click", playAgain);
        document.getElementById('againButton').addEventListener("click", playAgain);
        document.getElementById('startButton').addEventListener("click", startGame);
        document.getElementById('saveButton').addEventListener("click", sendData);
        document.getElementById('pauseButton').addEventListener('click', pauseGame);
        document.getElementById('startGame').hidden = false;


        const apple = new Image(24, 24);
        apple.src = "static/apple2.png";

        const bgrnd = new Image(480, 480);
        bgrnd.src = "static/Background1.png";

        const snakehead = new Image(24, 24);
        snakehead.src = "static/head1.png";

        const snakebody = new Image(24, 24);
        snakebody.src = "static/body.png";

        const pixelRock = new Image(24, 24);
        pixelRock.src = "static/rock1.png";

        const pixelBurger = new Image(24, 24);
        pixelBurger.src = "static/burger1.png";

        const pixelClock = new Image(24, 24);
        pixelClock.src = "static/clock1.png";


        function draw() {
            ctx.drawImage(bgrnd, 0, 0, canvas.width, canvas.height); //drawing the background

            snake.forEach(part =>
                addBody(part.x, part.y)); //drawing the body of the snake

            if (burgerPlaced) {
                addBurger(burger.x, burger.y);
            }//burger spawning

            if (clockPlaced) {
                addClock(clock.x, clock.y);
            }//clock spawning


            addHead(snake[0].x, snake[0].y, direction); //drawing the head of the snake

            rock.forEach(rockpart =>
                addRock(rockpart.x, rockpart.y));//rock spawning

            addApple(food.x, food.y); //food spawning

            requestAnimationFrame(draw); //tells the browser to perform an animation
        }

        //function get the angle for snake head rotation

        function getRotationAngle(direction) {
            switch (direction) {
                case 'RIGHT': return 3 * Math.PI / 2;
                case 'DOWN': return 0;
                case 'LEFT': return Math.PI / 2;
                case 'UP': return Math.PI;
                default: return 0;
            }
        }

        //function to check for game over

        function testGameOver() {

            let firstPart = snake[0];
            let otherParts = snake.slice(1);

            //find bodyparts with same coordinates as the head

            let duplicatePart = otherParts.find(part => part.x == firstPart.x && part.y == firstPart.y);

            //running into an obstacle

            let rocked = rock.find(rockpart => rockpart.x == snake[0].x && rockpart.y == snake[0].y);

            //conditions for game over and what happens if game over

            if (snake[0].x < 0 || snake[0].x > cols - 1 || snake[0].y < 0 || snake[0].y > rows - 1 || duplicatePart || rocked) {
                gameoverSound.play();
                clearInterval(gameIntervall);
                document.getElementById('result').hidden = false;
                document.getElementById('canvas').hidden = true;
                document.getElementById('total').textContent = score;
            }
        }

        function placeFood() {

            //get random coordinates

            let randomX = Math.floor(Math.random() * cols);
            let randomY = Math.floor(Math.random() * rows);

            //prevent food from spawning inside the snake, a burger, a clock or a rock

            while (snake.find(part => part.x == randomX && part.y == randomY) || rock.find(rockpart => rockpart.x == randomX && rockpart.y == randomY)) {
                randomX = Math.floor(Math.random() * cols);
                randomY = Math.floor(Math.random() * rows);
            }

            food = { x: randomX, y: randomY };

        }

        function placeBurger() {

            //get random coordinates

            let randomX = Math.floor(Math.random() * cols);
            let randomY = Math.floor(Math.random() * rows);

            //prevent burger from spawning inside the snake, an apple, the clock or a rock

            while (snake.find(part => part.x == randomX && part.y == randomY) || (rock.find(rockpart => rockpart.x == randomX && rockpart.y == randomY)) || (food.x == randomX && food.y == randomY)) {
                randomX = Math.floor(Math.random() * cols);
                randomY = Math.floor(Math.random() * rows);
            }

            burger = { x: randomX, y: randomY };

        }

        function placeRock() {

            //get random coordinates

            let randomX = Math.floor(Math.random() * cols);
            let randomY = Math.floor(Math.random() * rows);

            //prevent rock from spawning inside the snake or another rock

            while ((snake[0].x == randomX && snake[0].y == randomY) || rock.find(rockpart => rockpart.x == randomX && rockpart.y == randomY)) {
                randomX = Math.floor(Math.random() * cols);
                randomY = Math.floor(Math.random() * rows);
            }

            rock = [...rock, { x: randomX, y: randomY }];

        }

        function placeClock() {

            //get random coordinates

            let randomX = Math.floor(Math.random() * cols);
            let randomY = Math.floor(Math.random() * rows);

            //prevent clock from spawning inside the snake, an food item or a rock

            while (snake.find(part => part.x == randomX && part.y == randomY) || rock.find(rockpart => rockpart.x == randomX && rockpart.y == randomY)) {
                randomX = Math.floor(Math.random() * cols);
                randomY = Math.floor(Math.random() * rows);
            }

            clock = { x: randomX, y: randomY };

        }

        //drawing a little apple as the food item

        function addApple(x, y) {
            ctx.drawImage(apple, x * cellWidth, y * cellHeight, cellWidth, cellHeight);
        }

        //drawing a burger

        function addBurger(x, y) {
            ctx.drawImage(pixelBurger, x * cellWidth, y * cellHeight, cellWidth, cellHeight);
        }

        //drawing a rock as an obstacle

        function addRock(x, y) {
            ctx.drawImage(pixelRock, x * cellWidth, y * cellHeight, cellWidth, cellHeight);
        }

        //drawing a clock, an item to get slower

        function addClock(x, y) {
            ctx.drawImage(pixelClock, x * cellWidth, y * cellHeight, cellWidth, cellHeight);
        }

        //drawing a bodypart

        function addBody(x, y) {
            ctx.drawImage(snakebody, x * cellWidth, y * cellHeight, cellWidth, cellHeight);
        }

        //drawing the head

        function addHead(x, y, direction) {

            //image rotation depends on the direction

            const angle = getRotationAngle(direction);

            //saves the entire state of the canvas by pushing the current state onto a stack

            ctx.save();

            //getting the center of the image

            const centerX = x * cellWidth + cellWidth / 2;
            const centerY = y * cellHeight + cellHeight / 2;

            //rotating the image

            ctx.translate(centerX, centerY);
            ctx.rotate(angle);
            ctx.translate(-centerX, -centerY);

            //drawing the image

            ctx.drawImage(snakehead, x * cellWidth, y * cellHeight, cellWidth, cellHeight);

            //restores the most recently saved canvas state by popping the top entry in the drawing state stack

            ctx.restore();
        }

        //moves every bodypart in the array to the place of the part in front of it

        function shiftSnake() {

            for (let i = snake.length - 1; i > 0; i--) {
                const part = snake[i];
                const lastPart = snake[i - 1];
                part.x = lastPart.x;
                part.y = lastPart.y;
            }
        }

        //function to increase the game speed

        function speedUp() {
            counter = counter * 0.95;
            clearInterval(gameIntervall);
            gameIntervall = setInterval(gameLoop, counter);
        }

        //function to decrease the game speed

        function slowDown() {
            counter = counter * 1.10;
            clearInterval(gameIntervall);
            gameIntervall = setInterval(gameLoop, counter);
        }

        function pauseGame() {
            if (pause) {
                gameIntervall = setInterval(gameLoop, counter);
                pause = false;
            }
            else {
                clearInterval(gameIntervall);
                pause = true;
            }

        }

        //the game

        function gameLoop() {
            if (!pause) {
                document.getElementById('tutorial').hidden = true;
                document.getElementById('result').hidden = true;
                document.getElementById('score').textContent = score;

                testGameOver();
                if (foodCollected) {
                    collectSound.play();
                    snake = [{ x: snake[0].x, y: snake[0].y }, ...snake];
                    foodCollected = false;
                    score = score + 100;
                    burgerCounter = burgerCounter + 1;
                    speedUp();
                }
                if (burgerCollected) {
                    collectSound.play();
                    snake = [{ x: snake[0].x, y: snake[0].y }, ...snake];
                    burgerPlaced = false;
                    burgerCollected = false;
                    score = score + 500;
                    clockCounter = clockCounter + 1;
                    burgerCounter = 0;
                    burger = null;
                }
                if (clockCollected) {
                    collectSound.play();                    
                    clockPlaced = false;
                    clockCollected = false;
                    score = score + 200;
                    clockCounter = 0;
                    clock = null;
                    slowDown();
                }

                if (!burgerCollected && burgerCounter >= 3 && !burgerPlaced) {
                    placeBurger();
                    burgerPlaced = true;
                }

                if (!clockCollected && clockCounter >= 3 && !clockPlaced) {
                    placeClock();
                    clockPlaced = true;
                }


                //makes the body follow the head

                shiftSnake();

                //moves the head

                if (direction == 'LEFT') {
                    snake[0].x--;
                }
                if (direction == 'RIGHT') {
                    snake[0].x++;
                }
                if (direction == 'UP') {
                    snake[0].y--;
                }
                if (direction == 'DOWN') {
                    snake[0].y++;
                }

                //eat food

                if (snake[0].x == food.x && snake[0].y == food.y) {
                    foodCollected = true;
                    placeFood();
                }

                if (snake[0].x == burger.x && snake[0].y == burger.y) {
                    burgerCollected = true;
                }

                //take the clock

                if (snake[0].x == clock.x && snake[0].y == clock.y) {
                    clockCollected = true;
                }
            }
        }

        //function to translate pressed keys into directions

        function KeyDown(e) {
            if (!pause) {
                if (e.keyCode == 37 && direction != 'RIGHT') {
                    direction = 'LEFT';
                }
                if (e.keyCode == 38 && direction != 'DOWN') {
                    direction = 'UP';
                }
                if (e.keyCode == 39 && direction != 'LEFT') {
                    direction = 'RIGHT';
                }
                if (e.keyCode == 40 && direction != 'UP') {
                    direction = 'DOWN';
                }
            }
        }

        //this shows the tutorial for the game

        function showTutorial() {
            if (!document.getElementById('canvas').hidden)
                clearInterval(gameIntervall);

            document.getElementById('startGame').hidden = true;
            document.getElementById('tutorial').hidden = false;
            document.getElementById('canvas').hidden = true;
            document.getElementById('results').hidden = true;
        }

        //this starts the game

        function startGame() {
            document.getElementById('startGame').hidden = true;
            document.getElementById('canvas').hidden = false;
            gameIntervall = setInterval(gameLoop, counter);
            for (let i = 0; i < 5; i++) {
                placeRock();
            }
            placeFood();
            draw();
        }

        //reloads the game

        function playAgain() {
            location.reload();
        }

        //for score saving

        async function sendData() {

            const playername = document.getElementById('playername').value;

            try {
                const response = await fetch('http://127.0.0.1:5000/saveScore', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({ playername: playername, totalScore: score })
                }); if (!response.ok) {
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }
                const responseData = await response.json();
                console.log('Success:', responseData.message);
                location.reload();

            } catch (error) {
                console.error('Error:', error);
            }
        }

    </script>
</body>

</html>