<!DOCTYPE html>
<html lang="en">
<link rel="icon" type="image/svg" href="static/snake-svgrepo-com.svg">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snake Game</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <style>
        .navbar-custom {
            background-color: lightgreen;
        }

        .container {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 1%;
        }

        #result {
            align-items: center;
            align-self: center;
            justify-content: center;
            width: 480px;
            height: 480px;
            padding: 10%;
        }

        #tutorial {
            align-items: center;
            align-self: center;
            justify-content: center;
            width: 480px;
            height: 480px;
            padding: 10%;
            background-color: black;
            color: white;
        }

        #startButton {
            position: absolute;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }

        #startGame {
            align-items: center;
            align-self: center;
            justify-content: center;
            width: 480px;
            height: 480px;
            padding: 10%;
            background-color: black;
            color: white;
        }

        .carousel-inner {
            display: flex;
            height: 200px;
        }

        .carousel-control-prev,
        .carousel-control-next {
            position: absolute;
            margin: -20%;
        }

        #scoreTable {
            position: relative;
            padding: 20px;
            display: flex;
        }

        #knoepfe {
            padding: 10px;
        }

        #currentScore {
            margin: 0;
            padding: 1%;
        }
    </style>
</head>

<body>

    <nav class="navbar navbar-custom">
        <div class="container-fluid justify-content-start">

            <a class="navbar-brand" href="#">
                <img src="static/snake-svgrepo-com.svg" alt="Logo" width="30" height="24"
                    class="d-inline-block align-text-top">
                Snake Game
            </a>
            <button class="btn btn-outline-success btn-sm" id="tutorialButton" type="button">How To Play</button>
            <div>
            </div>
    </nav>
    <div class="container-fluid d-flex justify-content-start" id="currentScore">
        <p>Score: <span id="score"></span></p>
    </div>

    <div class="container d-flex justify-content-center align-items-center">
        <canvas id="canvas" width="480" height="480" hidden="true"></canvas>

        <div id="result" hidden="true" class="card">
            <div class="card-header">
                <h2>Game Over</h2>
            </div>
            <div id="playerForm">
                <div class="card-body">
                    <p>Score: <span id="total" name="totalScore"></span></p>
                </div>
                <div>
                    <input type="text" id="playername" class="form-control" name="playername" required
                        placeholder="Your Name">
                </div>
                <div id="knoepfe">
                    <button class="btn btn-secondary" id="saveButton" type="submit">
                        Save Score
                    </button>
                    <button class="btn btn-secondary" id="againButton" type="button">Play Again</button>
                </div>
            </div>
        </div>
        <div id="startGame" hidden="false" class="card">
            <div class="card-header">
                <h2>Snake Game</h2>

            </div>
            <div class="card-body">
                <div><button class="btn btn-danger btn-lg" id="startButton" type="button">Start</button>
                </div>
                <img src="static/snakew-svgrepo-com.svg" alt="White snake" style="position:relative; bottom:5px;"
                    width="300">
            </div>
        </div>
        <div id="tutorial" hidden="true" class="card">
            <div class="card-header">
                <h2>How To Play</h2>
            </div>
            <div class="card-body">
                <div id="carouselExample" class="carousel slide">

                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <p>Use the arrow keys to control the little green snake.<br><br>
                                Try to make the snake eat as many pills as you can.</p>
                        </div>
                        <div class="carousel-item">
                            <p>But be careful: with every pill, not only does your score increase, but the
                                snake gets longer and faster. <br><br>The
                                game ends when the snake hits the wall or one of its own body parts.</p>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                    <div><button class="btn btn-secondary" id="playButton" type="button">Play</button></div>
                </div>
            </div>
        </div>
        <div id="scoreTable">
            <table class="data-table table-striped table-hover" id="data-table">
                <thead>
                    <tr>
                        <th colspan="3">HIGHSCORE - TOP 10</th>
                    </tr>
                </thead>
                <tbody>
                    {% for highscore in daten %}
                    <td>{{ highscore.playername }}</td>
                    <td>{{ highscore.totalScore }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script>let canvas = document.getElementById('canvas');
        let ctx = canvas.getContext('2d');
        let rows = 20;
        let cols = 20;
        let snake = [{ x: 9, y: 3 }];
        let food;
        let cellWidth = canvas.width / cols;
        let cellHeight = canvas.height / rows;
        let direction = 'default';
        let foodCollected = false;
        let counter = 300;
        let score = 0;
        let collectSound = new Audio('static/gameboy-pluck-41265-_AudioTrimmer.com_.wav');
        let gameoverSound = new Audio('static/retro-explode-1-236678.wav');

        document.addEventListener('keydown', KeyDown);
        document.getElementById('tutorialButton').addEventListener("click", showTutorial);
        document.getElementById('playButton').addEventListener("click", playAgain);
        document.getElementById('againButton').addEventListener("click", playAgain);
        document.getElementById('startButton').addEventListener("click", startGame);
        document.getElementById('saveButton').addEventListener("click", sendData);
        document.getElementById('startGame').hidden = false;


        const apple = new Image(24, 24);
        apple.src = "static/apple2.png";

        const bgrnd = new Image(480, 480);
        bgrnd.src = "static/Background1.png";

        const snakehead = new Image(24, 24);
        snakehead.src = "static/head1.png";

        const snakebody = new Image(24, 24);
        snakebody.src = "static/body.png";


        function draw() {
            ctx.drawImage(bgrnd, 0, 0, canvas.width, canvas.height);

            snake.forEach(part =>
                addBody(part.x, part.y));

            addHead(snake[0].x, snake[0].y, direction);


            addApple(food.x, food.y);

            requestAnimationFrame(draw);
        }

        function getRotationAngle(direction) {
            switch (direction) {
                case 'RIGHT': return 3 * Math.PI / 2;
                case 'DOWN': return 0;
                case 'LEFT': return Math.PI / 2;
                case 'UP': return Math.PI;
                default: return 0;
            }
        }


        function testGameOver() {

            let firstPart = snake[0];
            let otherParts = snake.slice(1);
            let duplicatePart = otherParts.find(part => part.x == firstPart.x && part.y == firstPart.y)


            if (snake[0].x < 0 || snake[0].x > cols - 1 || snake[0].y < 0 || snake[0].y > rows - 1 || duplicatePart) {
                gameoverSound.play();
                clearInterval(gameIntervall);
                document.getElementById('result').hidden = false;
                document.getElementById('canvas').hidden = true;
                document.getElementById('total').textContent = score;
            }
        }

        function placeFood() {

            let randomX = Math.floor(Math.random() * cols);
            let randomY = Math.floor(Math.random() * rows);

            while (snake.find(part => part.x == randomX && part.y == randomY)) {
                randomX = Math.floor(Math.random() * cols);
                randomY = Math.floor(Math.random() * rows);
            }

            food = { x: randomX, y: randomY };

        }

        function addApple(x, y) {
            ctx.drawImage(apple, x * cellWidth, y * cellHeight, cellWidth, cellHeight);
        }

        function addBody(x, y) {
            ctx.drawImage(snakebody, x * cellWidth, y * cellHeight, cellWidth, cellHeight);
        }

        function addHead(x, y, direction) {
            const angle = getRotationAngle(direction);

            ctx.save();

            const centerX = x * cellWidth + cellWidth / 2;
            const centerY = y * cellHeight + cellHeight / 2;

            ctx.translate(centerX, centerY);
            ctx.rotate(angle);
            ctx.translate(-centerX, -centerY);

            ctx.drawImage(snakehead, x * cellWidth, y * cellHeight, cellWidth, cellHeight);

            ctx.restore();
        }


        function add(x, y) {
            ctx.fillRect(x * cellWidth, y * cellHeight, cellWidth - 1, cellHeight - 1)
        }

        function shiftSnake() {
            for (let i = snake.length - 1; i > 0; i--) {
                const part = snake[i];
                const lastPart = snake[i - 1];
                part.x = lastPart.x;
                part.y = lastPart.y;
            }
        }


        function speedUp() {
            counter = counter * 0.95;
            clearInterval(gameIntervall)
            gameIntervall = setInterval(gameLoop, counter);
        }

        function gameLoop() {
            document.getElementById('tutorial').hidden = true;
            document.getElementById('result').hidden = true;
            document.getElementById('score').textContent = score;
            testGameOver();
            if (foodCollected) {
                collectSound.play();
                snake = [{ x: snake[0].x, y: snake[0].y }, ...snake];
                foodCollected = false;
                score = score + 100;
                speedUp();
            }

            shiftSnake();

            if (direction == 'LEFT') {
                snake[0].x--;
            }
            if (direction == 'RIGHT') {
                snake[0].x++;
            }
            if (direction == 'UP') {
                snake[0].y--;
            }
            if (direction == 'DOWN') {
                snake[0].y++;
            }


            if (snake[0].x == food.x && snake[0].y == food.y) {
                foodCollected = true;
                placeFood();
            }

        }

        function KeyDown(e) {
            if (e.keyCode == 37 && direction != 'RIGHT') {
                direction = 'LEFT';
            }
            if (e.keyCode == 38 && direction != 'DOWN') {
                direction = 'UP';
            }
            if (e.keyCode == 39 && direction != 'LEFT') {
                direction = 'RIGHT';
            }
            if (e.keyCode == 40 && direction != 'UP') {
                direction = 'DOWN';
            }
        }

        function showTutorial() {
            if (!document.getElementById('canvas').hidden)
                clearInterval(gameIntervall);

            document.getElementById('startGame').hidden = true;
            document.getElementById('tutorial').hidden = false;
            document.getElementById('canvas').hidden = true;
            document.getElementById('results').hidden = true;
        }

        function startGame() {
            document.getElementById('startGame').hidden = true;
            document.getElementById('canvas').hidden = false;
            gameIntervall = setInterval(gameLoop, counter);
            placeFood();
            draw();
        }

        function playAgain() {
            location.reload();
        }

        async function sendData() {

            const playername = document.getElementById('playername').value;


            try {
                const response = await fetch('http://127.0.0.1:5000/saveScore', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({ playername: playername, totalScore: score })
                }); if (!response.ok) {
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }
                const responseData = await response.json();
                console.log('Success:', responseData.message);
                location.reload();

            } catch (error) {
                console.error('Error:', error);
            }
        }

    </script>
</body>

</html>